/* ==========  BLOCK REVEAL ============= */
@keyframes block-reveal-text {
  to {
    opacity: 1;
  }
}
@keyframes block-reveal-block {
  from {
    right: 100%;
  }
  50% {
    right: 0;
  }
  to {
    right: -100%;
  }
}
