/* ========  TO WORK ========== */
@keyframes toWork {
  from {
    top: calc(52% + 128px);
    left: calc(8% - 26px);
    transform: rotate(-90deg);
  }
  25% {
    top: calc(50% - 30px);
    left: calc(8% - 26px);
    transform: rotate(0);
  }
  60% {
    top: calc(50% - 30px);
    left: calc(50% - 128px);
    transform: rotate(0);
  }
  to {
    top: calc(50% - 30px);
    left: calc(50% - 128px);
    transform: rotate(0);
  }
}
@keyframes work-nav-inside-move {
  from {
    transform: translateX(0);
  }
  60% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes work-nav-outside-move {
  from {
    transform: translateX(0);
  }
  40% {
    transform: translateX(0);
  }
  85% {
    transform: translateX(50px);
  }
  to {
    transform: translateX(0);
  }
}
/* ========  TO About ========== */
@keyframes toAbout {
  from {
    top: calc(44% - 116px);
    right: calc(8% - 26px);
    transform: rotate(-90deg);
  }
  25% {
    top: calc(50% - 30px);
    right: calc(8% - 26px);
    transform: rotate(0);
  }
  60% {
    top: calc(50% - 30px);
    right: calc(50% - 116px);
    transform: rotate(0);
  }
  to {
    top: calc(50% - 30px);
    right: calc(50% - 116px);
    transform: rotate(0);
  }
}
@keyframes about-nav-inside-move {
  from {
    transform: translateX(0);
  }
  60% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(-30px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes about-nav-outside-move {
  from {
    transform: translateX(0) rotate(0);
  }
  40% {
    transform: translateX(0) rotate(90deg);
  }
  85% {
    transform: translateX(-60px);
  }
  to {
    transform: translateX(0);
  }
}
/* ========  TO WORK & ABOUT LEAVE ========== */
@keyframes home-nav-inside-leave {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}
@keyframes home-nav-outside-leave {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(30px);
  }
}

/* ========  LEAVE GENERAL ========== */
@keyframes home-leave {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}

/* ========  ENTER ========== */
