@import url("https://use.typekit.net/cwa8epe.css");

body, p, h1, h2, h3, h4, h5, h6 {
  font-family: "expressway";
  color: #111111;
}
p {
  font-weight: 100;
  letter-spacing: -0.1px;
  line-height: 1.35rem;
}

.jp {
  font-size: 0.9rem;
  line-height: 1.4rem;
}
